<h5>Navigation</h5>
<ul>
  <li id="books"><a href="">Books</a></li>
  <li id="music" class="selected"><a href="" class="selected">Music</a></li>
  <li id="dvds"><a href="">Dvds</a></li>
</ul>
<div id="navigation">
  <%= render_navigation %>
</div>